/* AIzaSyAOGxEtHo6WsWy0gZ26SvYpXnWka_oXvDQ API key  */


#InfoContainer, #naviContainer, #mainContainer, #footerContainer{
    height: 50px;
    background-color: #666;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

#info{
    width: 85%;
    margin: auto;
    letter-spacing: 2px;
}

.icon-phone, .icon-email{
    float: left;
    color: white;
    margin-top: 17px;
    padding-right: 7px;
}

.icon-linkedin-rect{
    float: right;
    padding-right: 15px;
    margin-top:12px;
}
#info p{
    float: left;
    width: 20%;
    font-size: 12px;
    color: white;
    margin-top: 20px;
   }
#info a:hover, a:active{
    color: #ccc;
}


/* NAVI CONTAINER */


#naviContainer{
    background-color: white;
}
#navi, #main{
    width: 85%;
    margin: auto;
}
#navi img{
    float: left;
    width: 20;
}
#navi a{
    color: gray;
    float: right;
    width: 8%;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 5px;
    font-size: 25px;
}
#navi a:hover{
    color: black;
}

/* MAIN CONTAINER with background image */

#mainContainer{
    height: 500px;
    background-image: url(../img/T%C5%82oSkala.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100%;
    opacity: 0.7;
    margin-bottom: 50px;   
}
#main h1{
    font-family: 'Lobster', cursive;
    font-size: 3em;
    text-align: center;
    margin-bottom: 5px;
   
}
#main h2{
     font-family: 'Lobster', cursive;
     font-size: 1.5em;
     margin-top: 5px;
    text-align: center;
}
#smallerContainer{
    width: 85%;
    height: 500px;
    margin: auto;
    margin-bottom: 40px;
    
}
#LocationInfo{
    height: 500px;
    width: 50%;
    float: right;
}
#LocationInfo h2{
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5px;
}
#LocationInfo p{
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 1.2em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#map{
    height: 370px;
    width: auto;
    border: 2px solid #333;
}

#glupoty{
    
    height: 300px;
    width: 40%;
    padding: 40px;
    border: 2px solid #333;
    margin-top: 110px;
    float: left;
    color: white;
    background-color: #333;
    letter-spacing: 2px;
    line-height: 20px;
    
}


/* Footer */

#footerContainer{
    margin-top: 30px;
    background-color: #333;
}
#stopka{
    width: 85%;
    margin: auto;
}
#stopka p{
    color: white;
    padding: 18px;
    font-size: 13px;
}