/* AIzaSyAOGxEtHo6WsWy0gZ26SvYpXnWka_oXvDQ API key  */


#InfoContainer, #naviContainer, #mainContainer, #footerContainer{
    height: 50px;
    background-color: #666;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

#info{
    width: 85%;
    margin: auto;
    letter-spacing: 2px;
}

.icon-phone, .icon-email{
    float: left;
    color: white;
    margin-top: 17px;
    padding-right: 7px;
}

.icon-linkedin-rect{
    float: right;
    padding-right: 15px;
    margin-top:12px;
}
#info p{
    float: left;
    width: 20%;
    font-size: 12px;
    color: white;
    margin-top: 20px;
   }
#info a:hover{
    color: #ccc;
}


/* NAVI CONTAINER */


#naviContainer{
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 3;
    height: 70px;
    padding: px;
}
#navi, #main{
    width: 85%;
    margin: auto;
}
#navi img{
    float: left;
}
#navi a{
    color: gray;
    float: right;
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 5px;
    font-size: 25px;
}
#navi a:hover{
    color: black;
}

/* MAIN CONTAINER with background image */

#mainContainer{
    height: 500px;
    background-image: url(../img/T%C5%82oSkala.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100%;
    opacity: 0.7;
    margin-bottom: 50px;   
}
#main h1{
    font-family: 'Lobster', cursive;
    font-size: 3em;
    text-align: center;
    margin-bottom: 5px;
   
}
#main h2{
     font-family: 'Lobster', cursive;
     font-size: 1.5em;
     margin-top: 5px;
    text-align: center;
}
#smallerContainer{
    width: 85%;
    height: 500px;
    margin: auto;
    margin-bottom: 40px;
    
}
#LocationInfo{
    height: 500px;
    width: 50%;
    float: right;
}
#LocationInfo h2, #AboutInfo h2, #gridContainer h2{
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5px;
}
#LocationInfo p{
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 1.2em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#map{
    height: 370px;
    width: auto;
    border: 2px solid #333;
    opacity: 1;
    border-radius: 25px;
}

#AboutInfo{
    height: 500px;
    width: 45%;
    float: left;
}

#About {
    
    height: 290px;
    padding: 40px;
    border: 2px solid #333;
    margin-top: 30px;
    float: left;
    color: white;
    background-color: #333;
    letter-spacing: 2px;
    line-height: 20px;
    text-align: justify;
    
}

#OffertContainer{
    text-align: center;
    width: 85%;
    margin: auto;
    height: 700px;
    color: #555;
}
#OffertInfo{
    color: #222;
    width: 70%;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f5f5ef;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}
.par, .par1{
    text-align: left;
    padding-left: 10px;
    margin-bottom: 3px;
    margin-top: 5px;
    font-size: 18px;
    color: #222;
}
.par1{
    font-size: 16px;
}

#OffertContainer ul, .OfferDescription{
    text-align: left;
    padding-left: 30px;
    margin-top: 7px;
}
/* Gallery */
#GalleryContainer{
    border-radius: 8px;
    height: 350px;
    width: 85%;
    margin: auto;
}
#GalleryContainer video{
    height: 300px;
    max-width: 100%;
    border-radius: 25px;
    border: 5px solid #333;

    float: left;
    margin: 10px;
    padding: 2px;
}
#GalleryContainer img{
    border: 5px solid #333;
    border-radius: 25px;
    height: 300px;
    max-width: 100%;
    margin: 5px;
    padding : 2px;
    float: right;
}
.button{
    border: none;
    font-size: 30px;
    color: white;
    position: absolute;
    background-color: transparent;
}
#leftArrow{
    left: 700px;
    top: 270px;
}
#rightArrow{
    top:270px;
    right: 140px;
}
#rightArrow:hover, #leftArrow:hover{
    cursor: pointer;
}
/* Grid layout IMG*/
#gridContainer{
    margin-top: 60px;
    width: 85%;
    margin: auto;
    display: grid;
    grid-gap: 1em; 
}
#gridContainer h2{
    font-size: 1.8em;
    color: #555;
}
#gridContainer img{
    border: 2px solid #333;
    border-radius: 25px;
    margin: auto;
    padding: 2px;
}
.row, secondRow, thirdRow{
    margin-top: 30px;
    margin-bottom: 15px;
}
.column{
    float: left;
    width: 25%;
}

/* Contact Website */

#ContactContainer{
    width: 85%;
    height: 500px;
    display: block;
    padding: 30px;
    
}
#ContactContainer h1{
    font-size: 2em;
    color: #666;
    text-align: center;
    font-weight: normal;
    margin-bottom: 40px;
}
#AddressInfo{
    height: 370px;
    width: 45%;
    text-align: center;
    margin-left: 20px;
    margin-top: 40px;
    border: 1px solid black;
    background-color: #333;
    color: white;
    border: 5px solid #e0e0d1;
    border-radius: 25px;
    padding: 2px;
    font-family: 'Gaegu', cursive;
    font-size: 17px;
    font-weight:bold;
}
#AddressInfo ul{
    display: block;
    text-align: left;
    margin: 5px;
    margin-top: 100px;
    line-height: 36px;
    list-style: none;
    letter-spacing: 2px;
}
span{
    color: #a3a375;
}

#firstAddress, #secondAddress{
    width: 26%;
    float: left;
    margin-right: 50px;
    margin-left: 60px;
    margin-bottom: 60px;
    margin-top: 40px;
    border:1px solid #e0e0d1;
    border-radius: 25px;
    padding: 5px;
}
#firstAddress:hover, #secondAddress:hover{
    background-color: #444;
}

/* Footer */

#footerContainer{
    margin-top: 30px;
    background-color: #333;
}
#stopka{
    width: 85%;
    margin: auto;
}
#stopka p{
    color: white;
    padding: 18px;
    font-size: 13px;
    letter-spacing: 0.3em;
}