/*
    height: 500px;
    background-color: #444;
}

*/
/* Fontello 
*/
.icon-phone, .icon-email{
    float: left;
    margin-top:17px;
    color: white;
    margin-left: 20px;
}

.icon-linkedin-rect{
    float: right;
    padding-right: 15px;
    margin-top:12px;
}

a{
    text-decoration: none;
    color: white;
}
#info{
    height: 50px;
    background-color: gray;
    letter-spacing: 2px;
    padding: 5px;
}

#info p{
    float: left;
    width: 20%;
    font-size: 12px;
    color: white;
    margin-top: 20px;
    padding-left: 10px;
   }
